/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */

 html {
  scroll-behavior: smooth;
}

#home {
  padding-top: 80px; /* Adjust this value to match the height of your navbar */
}