/* Default Light Theme */
:root {
  --primary-bg: #F9FAFF;
  --secondary-bg: #FFFFFF;
  /* --accent: #007BFF; */
  --primary-text: #25282B;
  --secondary-text: #6C757D;
  --borders: #E0E0E0;
  --hover-accent: #0056b3;
  --success: #28A745;
  --error: #DC3545;
}

/* Dark Theme */
/* body.dark-mode {
  --primary-bg: #121212;
  --secondary-bg: #1E1E1E;
  --accent: #BB86FC;
  --primary-text: #EDEDED;
  --secondary-text: #A3A3A3;
  --borders: #323232;
  --hover-accent: #3700B3;
  --success: #03DAC5;
  --error: #CF6679;
} */

body.dark-mode {
  --primary-bg: #000022; /* For main background to create depth */
  --secondary-bg: #312c4a; /*Used for sections, cards, or subtle contrast areas*/
  --accent: #463f59; /*Navbar, buttons, borders, or highlights*/
  --primary-text: #7E738C;
  --secondary-text: #897c8f; /*For subtitles, less prominent text, and borders*/
  --borders: #323232;
  --hover-accent: #3700B3;
  --success: #03DAC5;
  --error: #CF6679;
}


/* Apply Colors */
body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

h2, h6, h3 {
  color: var(--primary-text);
} 

p , a {
  color: var(--secondary-text)
}

.NavContainer {
  background-color: var(--accent);
}

.dark-theme-card {
  background-color: var(--secondary-bg);
}

.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.toggle-theme-wrapper span {
  font-size: 28px;
}

.toggle-theme input {
  display: none;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: white;
  content: "";
  position: absolute;
  bottom: 4px;
  left: 4px;
  height: 26px;
  width: 26px;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: cornflowerblue;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
