
:root {
  --primary-bg: #121212;
  --secondary-bg: #1E1E1E;
  --accent: #BB86FC;
  --primary-text: #EDEDED;
  --secondary-text: #A3A3A3;
  --borders: #323232;
  --hover-accent: #3700B3;
  --success: #03DAC5;
  --error: #CF6679;
}

/* Light Theme (Default) */
body {
  background-color: #F9FAFF; /* Light background */
  color: #25282B; /* Light text color */
}

/* Dark Theme */
body.dark-mode {
  background-color: var(--primary-bg); /* Dark background */
  color: var(--primary-text); /* Dark text color */
}

/* Custom Dark Mode Toggle Element */
.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.toggle-theme-wrapper span {
  font-size: 28px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: cornflowerblue;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
