
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9FAFF;
}

.NavContainer {
  position: fixed;  
  top: 0;           
  left: 0;          
  width: 100%;      
  z-index: 1000;   
  background-color: white; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  padding: 5px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1, h2 {
  font-family: 'Pacifico', 'serif';
  font-size: 80px;
  color: var(--primary-text); 
}

h6 {
  font-family: 'Pacifico', 'serif';
  font-size: 30px;
  color: #25282B;

}

a , p {
  color: var(--primary-p-text);
}

.custom-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FDC435;
  color: black; 
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
.custom-button:hover {
  border-color: #646cff;
  background-color: #fdc435; 
}
.custom-button:focus,
.custom-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


