
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9FAFF;
}


/* Navbar.css or in your global CSS */
.NavContainer {
  position: fixed;  /* Fixes the navbar to the top */
  top: 0;           /* Aligns it to the very top */
  left: 0;          /* Aligns it to the left of the page */
  width: 100%;      /* Ensures the navbar takes full width of the page */
  z-index: 1000;    /* Keeps it above other content */
  background-color: white; /* Optional, to give the navbar a background color */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional, adds a shadow to make it stand out */
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

h1, h2 {
 font-family: 'Pacifico', 'serif';
 font-size: 80px;
 color: #25282B;
 /* color: #0B1215; */
 /* color: #11181C; */
}

h6 {
  font-family: 'Pacifico', 'serif';
  font-size: 30px;
  color: #25282B;

}

a , p {
  color: #4e4b4b;
}

.custom-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FDC435;
  color: black; /* Set text color for readability */
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
.custom-button:hover {
  border-color: #646cff;
  background-color: #FDC435; /* Match the hover effect from your original CSS */
}
.custom-button:focus,
.custom-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.NavContainer {
background-color: white;
padding: 25px;
}

